
*.pyc
*.sw?
\\
**/tmp.txt

*.dat
*.pkl
*.pickle
.DS_Store
*.DS_Store
figures/
figures_paper/
dataset/AST/
figures_prediction/

**/bin/
**/build/
model_save/
logs/
graphs/
eval_results/
tensorboard/
timing/

.idea/

__pycache__
**/__pycache__
